.theme-default-content code
    color: #d63200;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.85em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;

.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

h2, h3, h4, h5, h6
    margin-top: 1.5rem !important;
    padding-top: 0 !important;
    a.header-anchor
      margin-left: -1.9em;

h2
  border-left: 5px solid #3eaf7c;
  padding-left: 10px;

h3
  border-left: 5px solid #007fff;
  padding-left: 10px;

h4
  border-left: 5px solid #cc99cd;
  padding-left: 10px;

.side-anchor
  font-size: 12px !important;
  border-left: 4px #3eaf7c solid !important;
  & ul .side-anchor-link
    font-weight: 400;
    color: #2c3e50;
  & ul .side-anchor-link:hover
    color #3eaf7c !important;
  & .active
    color: #3eaf7c !important;